@charset "UTF-8";
*{margin: 0; padding: 0;}

#slidephoto{
  position: absolute;
  width: 25vw;
  height: 30vw;
  background-color: #2CD3E1;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.17, 0.78, 0.33, 1.07);


}
#slidephoto #slidephotos{
  width: 100%;
  height: 400%;
  display: flex;
  flex-direction: column;
  transition: 2s cubic-bezier(0.17, 0.78, 0.33, 1.07);
}
#slidephoto #slidephotos .photo{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
 
}

.photo:nth-child(1){
  background-image: url(https://images.unsplash.com/photo-1656231944351-1bdcbef1bc21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1524&q=80);
  
}
.photo:nth-child(2){
  background-image: url(https://images.unsplash.com/photo-1656153816323-f3a8186cb239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);

}
.photo:nth-child(3){
  background-image: url(https://images.unsplash.com/photo-1654859869130-fd0a2aa5539b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);

}
.photo:nth-child(4){
  background-image: url(https://images.unsplash.com/photo-1653426375933-d2bbd510ae3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80);

}

#view{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#view h1{
  font-size: 0.5vw;
  font-weight: 400;
  letter-spacing: 0.2vw;
  color: #fff;
}

#one {
  width: 100%;
  height: 100vh;
  color: #080808;
}
#one #eff {
  margin-top: 5vw;
}
#one #eff .stext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}
#one #eff .stext h1{
  font-size: 5vw;
}
#one #eff .stext p{}
#one #eff .line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#one #eff .line .hrline{
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin-top: 45px;
  margin-bottom: 45px;
}


#showm{
  display: flex;
  justify-content: center;
}

#btnsm{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 5vw;
  border: 1px solid #333;
  border-radius: 50px;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#btnsm h1{
  font-size: 1vw;
  color: rgb(165, 165, 165);
}

#btnsm h1 sup{
  color: rgb(158, 158, 158);
}










/* @charset "UTF-8";
*{margin: 0; padding: 0;}

#slidephoto{
    position: absolute;
    width: 25vw;
    height: 30vw;
    background-color: skyblue;
    z-index: 999;
    overflow: hidden;
    pointer-events: none;

}
#slidephoto #slidephotos{
    width: 100%;  height: 400%;
    display: flex;
    flex-direction: column;
    transition: 2s cubic-bezier(0.13, 1.07, 0.21, 1.03);


}
#slidephoto #slidephotos .photo{
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;
}
.photo:nth-child(1){
    background-image: url(https://images.unsplash.com/photo-1656231944351-1bdcbef1bc21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1524&q=80);
   
}
.photo:nth-child(2){ background-image: url(https://images.unsplash.com/photo-1656153816323-f3a8186cb239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);}
.photo:nth-child(3){ background-image: url(https://images.unsplash.com/photo-1654859869130-fd0a2aa5539b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);}
.photo:nth-child(4){ background-image: url(https://images.unsplash.com/photo-1653426375933-d2bbd510ae3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80);}

#view{position: absolute;
top: 50%; left: 50%; 
transform: translate(-50%,-50%);
width: 80px; height: 80px;
border-radius: 50%;
background-color: blue;
z-index:9999;
display: flex;
justify-content: center;
align-items: center;
}
#view h1{
    font-size: 0.5vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    color: #fff;
}
#one{width: 100%; height: 100vh;
color: #080808;
}
#one #eff{margin-top: 5vw;}
#one #eff .stext{display: flex;
align-items: center; justify-content: space-between;
padding-left: 10vw;
padding-right: 10vw;
}
#one #eff .stext h1{ font-size: 5vw;}
#one #eff .stext p{}
#one #eff .line{display: flex;
align-items: center;justify-content: center;
width: 100%;
}
#one #eff .line .hrline{
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin-top: 45px;
    margin-bottom: 45px;

}
#showm{
    display: flex;
    justify-content: center;
}

#btnsm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 5vw;
    border: 1px solid #333;
    border-radius: 50px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#btnsm h1{
    font-size: 1vw;
    color: rgb(165, 165, 165);
}

#btnsm h1 sup{
    color: rgb(158, 158, 158);
} */
